@inherits LayoutComponentBase

<div class="main-container">
    <div class="view-container">
        @Body
    </div>

    <div class="footer-container">
        <p>@ThisAssembly.AssemblyTitle</p>
        <p>@ThisAssembly.AssemblyVersion | @ThisAssembly.GitCommitDate.ToShortDateString() | @ThisAssembly.GitCommitId</p>
    </div>

</div>


<style>
    .main-container {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #0d1117;
        color: #f0f6fc;
    }

    .view-container {

    }

    .footer-container {
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: #25282e;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .footer-container p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 5px;
    }
</style>
