@page "/forgot-password"
@using System.ComponentModel.DataAnnotations

<MudPage FullScreen="FullScreen.FullWithoutAppbar" Row="10" Column="3">
    <MudSection Row="4" RowSpan="8" Column="2">
        <MudGrid Justify="Justify.Center" Spacing="2">
            <MudItem xs="12" sm="12">
                <MudPaper Elevation="4" Class="pa-6">
                    <EditForm method="post" Model="Model" FormName="ForgotPassword" OnValidSubmit="SendNewPassword">
                        <DataAnnotationsValidator/>
                        <MudText Typo="Typo.h4" Class="text-center mb-4" Color="Color.Secondary">Forgot Password</MudText>

                        <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" @bind-Value="Model.Email" For="@(() => Model.Email)" />

                        <MudButton Variant="Variant.Filled" Style="margin-top: 5%" Color="Color.Secondary" FullWidth="true" ButtonType="ButtonType.Submit">Send Code</MudButton>

                        <div class="text-center mt-4">
                            <MudText>Remember password <MudLink Href="/Login">Sign in</MudLink></MudText>
                        </div>
                    </EditForm>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudSection>
</MudPage>

@code {
    [SupplyParameterFromForm]
    private ForgotModel Model { get; set; } = new();

    private void SendNewPassword()
    {
        //TODO implement Sending new Password
    }


    private class ForgotModel
    {
        [Required, EmailAddress]
        public string Email { get; set; }
    }
}